
<section id="word_selection">
    <%= form_tag '/phibase' do %>
		<%= text_area_tag 'wordstring' %>
		<br>
		<% @word_properties.each do |attribute| %>
			<%= check_box_tag attribute %><%= attribute %>
		<% end %>
		<section id="including_homophones_boxes">
			<h1>Including Homophones</h1>
			<h2>Visual-only Categorical</h2>
			<% @v_only_categorical_including_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>		
			<h2>Visual-only Continuous</h2>
			<% @v_only_continuous_including_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
			<h2>Audio-only Categorical</h2>
			<% @a_only_categorical_including_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
			<h2>Audio-only Continuous</h2>
			<% @a_only_continuous_including_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
		</section>
		<section id="excluding_homophones_boxes">
			<h1>Exluding Homophones</h1>
			<h2>Visual-only Categorical</h2>
			<% @v_only_categorical_excluding_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
			<h2>Visual-only Continuous</h2>
			<% @v_only_continuous_excluding_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
			<h2>Audio-only Categorical</h2>
			<% @a_only_categorical_excluding_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
			<h2>Audio-only Continuous</h2>
			<% @a_only_continuous_excluding_homophones.each do |attribute| %>
				<%= check_box_tag attribute %><%= attribute %><br>
			<% end %>
		</section>
		<br>
		<%= submit_tag 'word up', id: 'word_up' %>
	<% end %>
</section>

<section id="phibase_multiple_results">
	<table class="table">
		<tr>
			<th>orthographic word</th>
			<% @attribute_options.each do |attribute| %>
				<% if params[attribute] %><th><%= attribute %></th><% end %>
			<% end %>
		</tr>
		<% @wordarray.split(" ").each do |word|  %>
		<% @word = Word.find_by_orth(word) %>
			<% if @word %>
			<tr>
				<td><%= @word.orth %></td>
				<% @attribute_options.each do |attribute| %>
					<% if params[attribute]  %>
						<td><%= @word.attributes[attribute] %></td>
					<% end %>
				<% end %>
			</tr>
			<% end %>
		<% end %>
	</table>
</section>





