<h1 style="margin-top:100px;margin-bottom:60px;font-size:10em;text-align:center;"><%= @results.orth %></h1>
<h2 style="margin-bottom:50px;font-size:4em;text-align:center;">(<%= @results.pron %>)</h2>

 <section class="attribute_pair"><label>orth</label><%= @results.orth %></section>
 <section class="attribute_pair"><label>pron</label><%= @results.pron %></section>
 <section class="attribute_pair"><label>pattern</label><%= @results.pattern %></section>
 <section class="attribute_pair"><label>nphon</label><%= @results.nphon %></section>
 <section class="attribute_pair"><label>v_lec</label><%= @results.v_lec %></section>
 <section class="attribute_pair"><label>v_lec_freq</label><%= @results.v_lec_freq %></section>
 <section class="attribute_pair"><label>v_lec_nh</label><%= @results.v_lec_nh %></section>
 <section class="attribute_pair"><label>v_lec_nh_freq</label><%= @results.v_lec_nh_freq %></section>
 <section class="attribute_pair"><label>v_psum</label><%= @results.v_psum %></section>
 <section class="attribute_pair"><label>v_pskew</label><%= @results.v_pskew %></section>
 <section class="attribute_pair"><label>v_pkurt</label><%= @results.v_pkurt %></section>
 <section class="attribute_pair"><label>v_psd</label><%= @results.v_psd %></section>
 <section class="attribute_pair"><label>v_pfwsum</label><%= @results.v_pfwsum %></section>
 <section class="attribute_pair"><label>v_psum_nh</label><%= @results.v_psum_nh %></section>
 <section class="attribute_pair"><label>v_pskew_nh</label><%= @results.v_pskew_nh %></section>
 <section class="attribute_pair"><label>v_pkurt_nh</label><%= @results.v_pkurt_nh %></section>
 <section class="attribute_pair"><label>v_psd_nh</label><%= @results.v_psd_nh %></section>
 <section class="attribute_pair"><label>v_pfwsum_nh</label><%= @results.v_pfwsum_nh %></section>
 <section class="attribute_pair"><label>a_denb</label><%= @results.a_denb %></section>
 <section class="attribute_pair"><label>a_denb_freq</label><%= @results.a_denb_freq %></section>
 <section class="attribute_pair"><label>a_denb_nh</label><%= @results.a_denb_nh %></section>
 <section class="attribute_pair"><label>a_denb_nh_freq</label><%= @results.a_denb_nh_freq %></section>
 <section class="attribute_pair"><label>a_dena</label><%= @results.a_dena %></section>
 <section class="attribute_pair"><label>a_dena_freq</label><%= @results.a_dena_freq %></section>
 <section class="attribute_pair"><label>a_dena_nh</label><%= @results.a_dena_nh %></section>
 <section class="attribute_pair"><label>a_dena_nh_freq</label><%= @results.a_dena_nh_freq %></section>
 <section class="attribute_pair"><label>a_dena_hfn</label><%= @results.a_dena_hfn %></section>
 <section class="attribute_pair"><label>a_dena_hfn_nh</label><%= @results.a_dena_hfn_nh %></section>
 <section class="attribute_pair"><label>a_denb_hfn</label><%= @results.a_denb_hfn %></section>
 <section class="attribute_pair"><label>a_denb_hfn_nh</label><%= @results.a_denb_hfn_nh %></section>
 <section class="attribute_pair"><label>a_psum</label><%= @results.a_psum %></section>
 <section class="attribute_pair"><label>a_pskew</label><%= @results.a_pskew %></section>
 <section class="attribute_pair"><label>a_pkurt</label><%= @results.a_pkurt %></section>
 <section class="attribute_pair"><label>a_psd</label><%= @results.a_psd %></section>
 <section class="attribute_pair"><label>a_pfwsum</label><%= @results.a_pfwsum %></section>
 <section class="attribute_pair"><label>a_psum_nh</label><%= @results.a_psum_nh %></section>
 <section class="attribute_pair"><label>a_pskew_nh</label><%= @results.a_pskew_nh %></section>
 <section class="attribute_pair"><label>a_pkurt_nh</label><%= @results.a_pkurt_nh %></section>
 <section class="attribute_pair"><label>a_psd_nh</label><%= @results.a_psd_nh %></section>
 <section class="attribute_pair"><label>a_pfwsum_nh</label><%= @results.a_pfwsum_nh %></section>
 <section class="attribute_pair"><label>a_wt_psum</label><%= @results.a_wt_psum %></section>
 <section class="attribute_pair"><label>a_wt_pskew</label><%= @results.a_wt_pskew %></section>
 <section class="attribute_pair"><label>a_wt_pkurt</label><%= @results.a_wt_pkurt %></section>
 <section class="attribute_pair"><label>a_wt_psd</label><%= @results.a_wt_psd %></section>
 <section class="attribute_pair"><label>a_wt_pfwsum</label><%= @results.a_wt_pfwsum %></section>
 <section class="attribute_pair"><label>a_wt_psum_nh</label><%= @results.a_wt_psum_nh %></section>
 <section class="attribute_pair"><label>a_wt_pskew_nh</label><%= @results.a_wt_pskew_nh %></section>
 <section class="attribute_pair"><label>a_wt_pkurt_nh</label><%= @results.a_wt_pkurt_nh %></section>
 <section class="attribute_pair"><label>a_wt_psd_nh</label><%= @results.a_wt_psd_nh %></section>
 <section class="attribute_pair"><label>a_wt_pfwsum_nh</label><%= @results.a_wt_pfwsum_nh %></section>
